# RabbitMQ
RABBITMQ_USER=rmuser
RABBITMQ_PASS=rmpassword

# API
API_IMAGE=reader-api:1.0.0
API_CONTAINER_NAME=reader-api

# ML Worker
ML_WORKER_IMAGE=reader-ml-worker:latest
ML_WORKER_CONTAINER_NAME=reader-ml-worker

# Nginx
NGINX_IMAGE=nginx:1.29.4-alpine
NGINX_CONTAINER_NAME=reader-nginx
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443

# RabbitMQ
RABBITMQ_IMAGE=rabbitmq:4.1.7-management-alpine
RABBITMQ_CONTAINER_NAME=rabbitmq
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MGMT_PORT=15672

# PostgreSQL
POSTGRES_IMAGE=postgres:17
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# Network
READER_NETWORK_NAME=reader-network
