## Database (same vars as app)
DB_HOST=database
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

## RabbitMQ
RM_HOST=rabbitmq
RM_PORT=5672
RM_USER=rmuser
RM_PASS=rmpassword
RM_VHOST=/
ML_QUEUE=ml_task_queue
